#sec2 img{
	width:100%;
}
#box31{
	position:absolute; 
	bottom:-92%;
	height:15%;
	width:100%;
} 
#box31 img:nth-child(1){ 
	width:70%; 
	left:0;
	right:0;
	margin:auto; 
 	padding-left:15%;
 	padding-bottom:5%; 
}
#sec3 img{
	position:absolute;
    transform: rotateZ(0deg); 
}
#sec3 img:nth-child(1){ 
	/*3.52/9.53*/
	width:38.936%; 
	/*4.18/9.53*/ 
	left:43.86%;
	/*1.16/15.16*/
	top:11.65%; 
}
#sec3 img:nth-child(2){
    width: 35.53%;
    left: 9.13%;
    top: 27.54%;

}
#sec3 img:nth-child(3){
   width: 48.53%;
   left: 48.13%;
   top: 37.54%; 
}
#sec3 img:nth-child(4){
   width: 37.53%;
   left: 5.13%;
   top: 52.54%; 
}
#sec3 img:nth-child(5){
    width: 40.53%;
    left: 45.13%;
    top: 66.54%; 
}
#sec3 img:nth-child(6){
    width: 12.53%;
    left: 23.13%;
    top: 11.54%; 
}
#sec3 img:nth-child(7){
    width: 10.53%;
    left: 77.13%;
    top: 28.54%; 
}
#sec3 img:nth-child(8){
    width: 9.53%;
    left: 24.13%;
    top: 75.54%; 
}
#sec4 img{
	position:absolute;
	width:100%;
	top:0;
}
.centerR{
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: black;
	top: 37%;
	left: 47.5%;
}
#sec4 #word{ 
	width:40%;
	top:23%;
	left:30%; 
}
#sec4 img:nth-child(5){ 
	width:44%;
	top:76%;
	left:28%;
	opacity:1;
}
			
#touxiang{ 
   height:100%;
}
#sec4 #touxiang img{
	position:absolute;
	width:36%;
	top: 33%;
	left: 31%;
	display:none;
}
 
#show{ 
	width:100%;
	border:2px solid white;
	height:70%;  
}
#show #ch{
	position:absolute;
	width:100%; 
	top:20%;
	background:rgba(0,0,0,0);
}
#show #close{
	position:absolute;
	top:19%;
	right:0;
	width:21%;
	display:none;
}

#show #left{
	position:absolute;  
	width:10%;
	height:10%;
	top:45%;
	left:5%;
	display:none;
}
#sec4 #show #right{  
	width:10%;
	height:10%;
	top:45%;
	right:5%; 
	display:none;
}